/*
 File:      style.css
 Author:    Maxximillion Thomas
 Purpose:   Style the chess page elements
 Date:      December 12, 2025
 */

/* =============================
// ==  Body  ===================
// ============================= */
body {
    background-color:#b5f0da8e;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

/* =============================
// ==  Title  ===================
// ============================= */
.title, .subtitle {
    /* Pixelated font */
    font-family: 'Press Start 2P', cursive;
    /* Spacing */
    letter-spacing: 2px;
    margin-left: 50px; 
    /* Color scheme */
    color: #63b59b; 
    /* Unselectable */
    user-select: none;
}

.title {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 20px;
    /* 3D block shadow (cracked stone effect) */
    text-shadow: 
        3px 3px 0px #3f3f3f, /* Dark gray shadow side */
        -1px -1px 0 #6e6e6e, /* Slight highlight top-left */
        1px 1px 0 #000;      /* Thin black outline */
}

.subtitle {
    font-size: 16px;
    margin-bottom: 35px;
    /* 3D block shadow (cracked stone effect) */
    text-shadow: 
        1px 1px 0px #3f3f3f, /* Dark gray shadow side */
        -.5px -.5px 0 #6e6e6e, /* Slight highlight top-left */
        .5px .5px 0 #000;      /* Thin black outline */
    
}

/* =============================
// ==  Menu  ===================
// ============================= */

.menu-container {
    margin-left: 50px;
    margin-bottom: 30px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item-interactive {
    cursor: pointer;
}

/* =============================
// ==  Master Container  =======
// ============================= */

.master-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    width: 100%;
    margin-bottom: 40px;
}

/* =============================
// ==  Game Container ==========
// ============================= */

.game-container {
    width: 440px;
    height: 475px;
    text-align: center;
    background-color: #e9e9e9;
    border-color: gray;
    border-style: solid;
}

/* =============================
// ==  Status & options  =======
// ============================= */

/* Row for holding Status and Options */
.header-row {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px; 
    padding-right: 10px; 
    margin-bottom: 10px;
}

.status {
    flex-grow: 1;
    font-weight: bold;
}

/* =============================
// ==  Options modal  ==========
// ============================= */

/* Toggle on/off options */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* =============================
// ==  Confirm modal  ==========
// ============================= */

/* Container to separate the buttons */
.modal-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Yes Button (Confirm) */
.yes-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.yes-btn:hover {
    background-color: #45a049;
}

/* No Button (Cancel) */
.no-btn {
    background-color: #f44336; 
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.no-btn:hover {
    background-color: #d32f2f;
}

/* =============================
// ==  Board  ==================
// ============================= */

/* Container for holding the evaluation bar and the chess board */
.eval-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The background of the bar (Blacks advantage) */
.eval-container {
    width: 20px;
    height: 380px; 
    margin-left: 15px;
    margin-right: -10px;
    background-color: #404040; 
    border: 1px solid #777;
    position: relative; 
    border-radius: 2px;
    overflow: hidden;
}

/* The white fill (White's advantage) */
.eval-bar-fill {
    width: 100%;
    /* Default to neutral */
    height: 50%; 
    background-color: #ffffff;
    position: absolute;
    /* Grows upwards from the bottom */
    bottom: 0; 
    /* Smooth movement */
    transition: height 0.5s ease-in-out;
}

/* Score displayed in the evaluation bar */
.eval-score {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    /* Sits above the white/grey bars */
    z-index: 2; 
    pointer-events: none; /* needed? */
}

/* White is winning */
.eval-score-white {
    bottom: 5px;
    color: #333;
}

/* Black is winning */
.eval-score-black {
    top: 5px;
    color: #fff;
}

.board {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

/* =============================
// ==  Controls  ===============
// ============================= */

/* Row for holding navigation buttons */
.control-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: 10px;
    width: 100%;
}

.control-btn {
    background: none;
    font-size: 20px; 
    cursor: pointer;
    padding: 0 5px;
    line-height: 1;
    border: 1px solid #888;  
    box-shadow: 0 2px 0 #888;   
}

.control-btn:hover {
    color: #555;
}

.control-btn:active {
    box-shadow: 0 1px 0 #888; 
    top: 2px;                 
}

/* =============================
// ==  Navigation controls  ====
// ============================= */

.navigation-controls {
    display: inline-flex;                 
    gap: 6px; 
}

/* =============================
// ==  Move history  ===========
// ============================= */

/* Parent move history element - updates with the subsequent styles through js */
.pgn {
    display: none;
    width: 200px;
    height: 475px; 
    overflow-y: auto;
    background-color: #e0e0e0;
    border-color: gray;
    border-style: solid;
}

/* Table structure */
.move-table {
    width: 100%;
    border-collapse: collapse;
}

/* Table headers */
.move-table th {
    background-color: #e0e0e0;
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid #999;
    font-size: 14px;
}

/* Table cells */
.move-table td {
    padding: 4px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* Content centering */
.move-table th,
.move-table td {
    text-align: center;
    vertical-align: middle; 
}

/* Zebra striping for readability */
.move-table tr:nth-child(even) {
    background-color: #fff;
}
.move-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Clickable Move Links */
.move-link {
    cursor: pointer;
    /* color: #333; */
    padding: 2px 5px;
    border-radius: 3px;
}

.move-link:hover {
    background-color: #d1d1d1;
    color: #000;
    font-weight: bold;
}

/* =============================
// ==  Game over modal  ========
// ============================= */

/* Button Styling */
.rematch-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.rematch-btn:hover {
    background-color: #45a049;
}

.close-btn {
    position: absolute !important;
    top: 10px;
    right: 20px;
    color: #ff4444; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1; 
}

.close-btn:hover {
    color: #cc0000; 
}

/* Game Review Button */
.game-review-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px; 
}

.game-review-btn:hover {
    background-color: #007B9A;
}

/* =============================
// ==  Modals  =================
// ============================= */

/* The Modal Background */
.modal {
    /* Hidden by default */
    display: none; 
    position: fixed;
    /* Sit on top of other elements */
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Black with opacity */
    background-color: rgba(0,0,0,0.6); 
    align-items: center;
    justify-content: center; 
}

/* The Modal Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* =============================
// ==  Tooltips  ===============
// ============================= */

[data-tooltip] {
    /* Tooltips will be positioned relative to their buttons*/
    position: relative; 
}

[data-tooltip]::after {
    /* Retrieve the tooltip text from the respective HTML element */
    content: attr(data-tooltip); 
    
    /* Always appear above other elements */
    z-index: 9999;
    position: absolute;
    /* Center it vertically */       
    top: 50%;             
    transform: translateY(-50%);
    /* Push it to the right */       
    left: 100%;             
    margin-left: 10px;
    
    background-color: #333; 
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    /* No text wrap */
    white-space: nowrap;   
    
     /* Invisible until hovering */
    opacity: 0;      
    /* Don't block mouse clicks */     
    pointer-events: none;  
    /* Fade in effect */
    transition: opacity 0.2s; 
}

/* Reveal on Hover */
[data-tooltip]:hover::after {
    /* Always appear above other elements */
    z-index: 9999;
    opacity: 1;           
}

/* =============================
// ==  Highlights  =============
// ============================= */

/* Selected square / last played move - Yellow */
.highlight-source, .highlight-played {
    box-shadow: inset 0 0 3px 3px rgba(255, 255, 0, 0.7);
}

/* Valid squares - Blue */
.highlight-move {
    box-shadow: inset 0 0 0 1000px rgba(0, 179, 255, 0.3);
}

/* King is in check - Red */
.in-check {
    box-shadow: inset 0 0 3px 3px rgba(255, 0, 0, 0.7);
}

/* Hint (best move) - Green */
.highlight-hint {
    box-shadow: inset 0 0 3px 3px rgba(0, 255, 0, 0.7);
}

/* =============================
// ==  Judgement  ==============
// ============================= */

/* Labels for judging moves in Game Review mode */
.judgement-label {
    font-weight: bold;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 4px;
    color: white;
    margin-left: 8px;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    vertical-align: middle;
}

.judgement-best { background-color: #0cdb02; } /* Light green */
.judgement-good { background-color: #089f00; } /* Dark green */
.judgement-bad { background-color: #ffa500; } /* Orange */
.judgement-blunder { background-color: #ff0000; } /* Red */

/* Analysis dots in move history */
.move-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
}

.dot-best { background-color: #0cdb02; } /* Light green */
.dot-good { background-color: #089f00; } /* Dark green */
.dot-bad { background-color: #ffa500; } /* Orange */
.dot-blunder { background-color: #ff0000; } /* Red */


/* =============================
// ==  Animation  =============
// ============================= */

/* Wiggle animation for piece interaction */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

/* 1. Hover wiggle */
.board-white .square-55d63 img[data-piece^='w']:hover,
.board-black .square-55d63 img[data-piece^='b']:hover {
    animation: wiggle .3s ease 2;
    cursor: grab; 
}

/* 2. Drop wiggle */
.drop-wiggle {
    animation: wiggle .3s ease 1;
}

/* 3. Drag enlargement */
body > img[class^="piece-"] {
    width: 56px !important;
    height: 56px !important;
    margin-left: -4.5px;
    margin-top: -4.5px;
    z-index: 9999;
}

/* Stop animation the moment a piece is clicked */
.square-55d63.highlight-source img {
    animation: none !important; 
    transform: none !important; 
}

/* Allow pieces to hang off the edge of the board */
#myBoard, 
div[class^="board-"] { 
    overflow: visible !important;
}

/* Base pieces */
img[class^="piece-"] {
    width: 40px !important;
    height: 40px !important;
    margin: 4px auto;
}











